<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= baseURL %>favicon.ico" />
    <title><%= tv('identity-server.404.page_title', 'Page not found', i18nLang) %></title>
    <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" href="<%= baseURL %>style/index.min.css" />
    <link rel="stylesheet" href="<%= baseURL %>style/container.min.css" />
    <% } else { %>
    <link rel="stylesheet" href="<%= baseURL %>style/index.css" />
    <link rel="stylesheet" href="<%= baseURL %>style/container.css" />
    <% } %>
  </head>
  <body>
    <main class="container">
      <div class="wrapper">
        <h1 class="title"><%= tv('identity-server.404.title', 'Page not found!', i18nLang) %></h1>
        <p class="description"><%- tv('identity-server.404.description', '<strong>path:</strong>' + path , i18nLang, { path }) %></p>
      </div>
    </main>
  </body>
</html>
