<% if (process.env.NODE_ENV === 'production') { %>
<link rel="stylesheet" href="<%= baseURL %>style/login.min.css" />
<% } else { %>
<link rel="stylesheet" href="<%= baseURL %>style/login.css" />
<% } %>
<%- primaryStyleVars %>
<div id="app"><%- content %> <%- include('partials/footer') %></div>
<%- contentFor('title') %> <%= tv('consent.page_title', 'Sign In Confirm', i18nLang) %>
