<link rel="stylesheet" href="/style/login.css" />
<div id="app">
  <div class="wrapper-placeholder">
    <div class="wrapper">
      <h1 class="title">Sign In</h1>
      <p class="text--secondary">to <strong><%= new URL(params.redirect_uri).host %></strong></p>
      <form id="login-form" action="/login/<%= uid %>" method="POST" autocomplete="off" novalidate>
        <div class="row mb-3">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="User Name"
              autofocus
              required
              maxlength="50"
            />
            <div class="invalid-feedback">Please input username.</div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              autocomplete="off"
              required
              minlength="6"
              maxlength="16"
              value=""
            />
            <div class="invalid-feedback">Please input password(6-16 characters).</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="rememberMe" />
              <label class="form-check-label" for="rememberMe"> Remember Me? </label>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <div id="error" class="alert alert-danger d-none"></div>
            <div class="d-sm-inline-block gap-2">
              <button type="submit" class="btn btn-primary w-100">Sign in</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%- include('partials/footer') %>
</div>
<%- include('partials/axios') %>
<script
  src="//unpkg.com/crypto-js@4.2.0/core.js"
  integrity="sha256-Jji91yJEcvgBiQY21C3xbBRMpGyEIp7zCHGQ0h+TXa8="
  crossorigin="anonymous"
></script>
<script
  src="//unpkg.com/crypto-js@4.2.0/sha256.js"
  integrity="sha256-2AdPI8vSeqbC8jG4va00u9jUnH5H/6DXzQeixNHTx5g="
  crossorigin="anonymous"
></script>
<script src="/js/login.js"></script>
<%- contentFor('title') %> Sign In
