<link rel="stylesheet" href="<%= baseURL %>style/login.css" />
<%- primaryStyleVars %>
<div id="app"><%- content %> <%- include('partials/footer') %></div>
<%- include('partials/axios') %> <%- include('partials/crypto') %>
<script>
  var locales = {
    passwordInvalid: '<%= tv("login.form.password_invalid", "Please input password(6-16 characters)!", i18nLang) %>',
    userPolicyInvalid:
      '<%= tv("login.form.user_policy_check_required", "Please read and agree to the User Privacy Agreement!", i18nLang) %>',
  };
</script>
<script src="<%= baseURL %>js/login.js"></script>
<%- contentFor('title') %> <%= tv('login.page_title', 'Sign In', i18nLang) %>
