<link rel="stylesheet" href="/style/index.css" />
<link rel="stylesheet" href="/style/password.css" />
<%- primaryStyleVars %>
<div id="app"><%- content %> <%- include('partials/footer') %></div>
<%- include('partials/axios') %> <%- include('partials/crypto') %>
<script>
  var locales = {
    dismatchPassword: '<%= tv("password.modify.confirm_password_dismatch", "Confirm password is not match.", i18nLang) %>',
  };
</script>
<script src="/js/globals.js"></script>
<script src="/js/password.js"></script>
<%- contentFor('title') %> <%= title %>
