<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <%- meta %>
    <link rel="icon" type="image/x-icon" href="<%= baseURL %>favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= baseURL %>favicon.ico" />
    <title><%- title %></title>
    <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" href="<%= baseURL %>style/index.min.css" />
    <%} else { %>
    <link rel="stylesheet" href="<%= baseURL %>style/index.css" />
    <% } %>
    <%- style %>
  </head>
  <body>
    <%- body %>
    <% if (process.env.NODE_ENV === 'production') { %>
    <script src="<%= baseURL %>js/globals.min.js"></script>
    <%} else { %>
    <script src="<%= baseURL %>js/globals.js"></script>
    <% } %>
    <%- script %>
  </body>
</html>
